<ion-header [translucent]="true" >
  <div class="asistencia-alumno-container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="volver()">
          <ion-icon name="chevron-back-outline" size="large" style="color: white;"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Cursos</ion-title>
    </ion-toolbar>
  </div>
  </ion-header>

    <ion-content [fullscreen]="true" class="fondo ">
      <div class="centrar">
      <ion-card *ngFor="let asignatura of clasesProfesor" class= "carta-clases" color="dark" >
        <ion-card-header (click)="toggleCard(asignatura)">
          <ion-card-title class="letra">{{ asignatura.nombre }}  {{ asignatura.sigla }}</ion-card-title>
          <ion-icon [name]="asignatura.isExpanded ? 'chevron-down' : 'chevron-forward'"></ion-icon>
        </ion-card-header>
        <ion-card-content *ngIf="asignatura.isExpanded">
          <ion-item color="dark">
          <ion-col size="6">Dias</ion-col>
          <ion-col size="6" class="ion-text-end">Horas</ion-col>
          </ion-item>
          <ion-item *ngFor="let dia of asignatura.dias; let i = index" color="dark">
            <ion-col size="6">{{ dia }}</ion-col>
            <ion-col size="6" class="ion-text-end">{{ asignatura.horas[i] }}</ion-col>
          </ion-item>
          <ion-button id="present-alert" color="primary" (click)="asignatura.idurl ? AsisteciaP(asignatura.idurl) : null" class="btn" color="light">Registar asistencia </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    </ion-content>
