
<ion-content [fullscreen]="true" class="fondo">
  <div class ="centrar">
    <div class="alumno-container letra">
      <!--Titulo de hombre-->
      <h1 style="color: black;" *ngIf="alumno && alumno.genero === 'M' ">Bienvenido: </h1>
      <!--Titulo de mujer-->
      <h1 style="color: black;" *ngIf="alumno && alumno.genero === 'F' ">Bienvenida: </h1>
      <!--Nombre alumno-->
      <H2 style="color: black;" *ngIf="alumno"> {{ alumno.pnombre }} {{ alumno.snombre }} {{ alumno.apaterno }} {{ alumno.amaterno }}</H2>
      <div *ngIf="alumno && alumno.foto" class="logo">
          <img src="./../../../assets/img/{{ alumno.foto }}" alt="">
      </div>
  
          <div class="contenedor-cartaLeerQR">
            <ion-card style="padding-left: 15px; padding-right: 15px;" (click)="leerQr()" color="light" class="letra">
              <ion-card-header>
                <ion-card-title>Leer QR</ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>
          
          <div class="contenedor-Asistencia">
            <ion-card (click)="AsistenciaA()" color="light" class="letra">
              <ion-card-header>
                <ion-card-title>Asistencia</ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>
      <br>
      <br>
      <br>
      <br>
      <div (click)="setOpen(true)" class="salida"></div>
      <ion-alert
      [isOpen]="isAlertOpen"
      header="Cerrar sesión"
      subHeader="¿Desea cerrar sesión?"
      message=""
      [buttons]="alertButtons"
      (didDismiss)="setOpen(false)"
      ></ion-alert>
    </div>

  </div>
  
  
</ion-content>
